footer.d-flex.bg-light.p-2.p-sm-3.p-md-4.flex-row.align-items-center.footer-wrap(class=footerClass)
    ul.nav.flex-column.ml-0.ml-md-4
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Home
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') About
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Features
    ul.nav.flex-column.ml-1.ml-md-4
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Pricing
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Contacts
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Comunity
    ul.nav.flex-column.ml-1.ml-md-4.mr-auto
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Blog
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Search
        li.nav-item
            a.nav-link.text-white.heading-link.py-1(href='#') Privacy
    form.mr-0.mr-md-4
        .form-group.form-flex
            label.mb-2(for="email-input") Get our newspaper
            .form-inline
                input.form-control.mr-0.mr-sm-3.input-margin(type="email" placeholder="Enter yor Email?" id="email-input")
                button.btn.btn-outline-info Subscribe
